# Python
__pycache__/
*.pyc
**.venv*/
**/.venv*/
venv*/
*.env
*.env.*

# Node / React Native
node_modules/
.expo/
dist/

# OS
.DS_Store

# Logs
*.log

credentials/
**/data/raw/
**/data/unlabel/
**/data/processed/