fastapi
httpx
apscheduler
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pydantic[email]
email-validator
boto3
google-cloud-vision
openai
chromadb
langchain
langchain-openai
langgraph